<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <style>
        button{
            padding: 10px 50px;
            border-radius: 10px;
            background-color: goldenrod;
            border: none;
            font-size: 15px;
            color: #fff;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <h1>Profile page</h1>
    <form action="/auth/logout" method="post">
        <button>logout</button>
    </form>
</body>
</html>